{% extends 'layout.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block pageTitle %}Accueil {% endblock %}

{% block main %}

<div class=" container-fluid d-flex justify-content-center flex-wrap">
    {% for movie in movies %}
    <div class="card col-md-4 mb-3">
        <div class="card-header">
            <h5 class="card-title">{{ movie.title }}</h5>
            <h6 class="card-subtitle text-muted">{{ movie.author }}</h6>
        </div>
        <div class="card-body ">
            <img class="img-fluid"  src="https://lorempixel.com/540/370/" alt="Card image">
        <div class="card-body">
        <p class="card-text">{{movie.summary}}</p>
        </div>
        </div>
        <div class="card-footer">
            <a href="{{ path("evaluation", {"id" : movie.id})}}" class="card-link">Evaluer</a>
            <a href="{{ path("single", {"id" : movie.id})}}" class="card-link">Voir</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
